<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static',filename='css/password.css')}}">
        <title>パスワード設定</title>
    </head>
    <body>
    <h1>パスワード設定</h1>
        <table>
            <tr>
                {% for col in columns %}
                <th>{{col[0]}}</th>
                {% endfor %}
            </tr>
            {% for data in datalist %}
            <tr>
                {% for i in range(data|length) %}
                <td class={{columns[i][0]}}>{{data[i]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <h2>変更</h2>
    <form action="/change" method="post">
        <table>
            <tr>
                <th>変更する項目</th>
                <th>変更前</th>
                <th>変更後</th>
            </tr>
            <tr>
                <td>
                    <select name="change" id="category">
                    <option>変更する項目を選択</option>
                    {% for col in columns %}
                    <option value={{col[0]}}>{{col[0]}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="change" id="before">
                    <option>変更前のリスト</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="change">
                </td>
            </tr>
        </table>
    <input type="submit" value="変更">
    </form>
    <h2>追加</h2>
    <form action="/add" method="post">
        <table>
            <tr>
                {% for col in columns %}
                <th><label>{{col[0]}}</label></th>
                {% endfor %}
            </tr>
            <tr>
                {% for col in columns %}
                <td><input type="text" name="add"></td>
                {% endfor %}
            </tr>
        </table>
        <input type="submit" value="追加">
        </form>
    <h2>削除</h2>
    <form action="/delete" method="post">
        <select name="delete">
            {% for data in datalist %}
            <option>{{data[1]}}</option>
            {% endfor %}
        </select>
    <input type="submit" value="削除">
    </form>
    <script src="{{url_for('static',filename='javascript/password.js')}}"></script>
    </body>
</html>
